<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader__box">

		<div class="myheader__group myheader__navigat">
			<a class="myheader__brand" title="URL" role="link" href="#">
				<img src="https://api.fnkr.net/testimg/120x40/eee/ccc/?text=img">
			</a>
			<div class="myheader__list">
				<a class="myheader__list-item" title="URL" role="link" href="#">О модели</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Преимущества</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Комплектации</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Галерея</a>
			</div>
		</div>
		<div class="myheader__group myheader__burger ">
			<div class="myheader__menu js__navHamburger">
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
			</div>
		</div>

	</nav>
	<div class="myheader__group myheader__navigat myheader__navigat--clone js__navHamburgerOpener">
		<div class="myheader__list">
			<a class="myheader__list-item" title="URL" role="link" href="#">О модели</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Преимущества</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Комплектации</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Галерея</a>
		</div>
	</div>
</div>
